$gray-medium-light: #eaeaea;
$gray: #bbb;
$gray-dark: #222;
$white: white;
$red: red;
$blue: #337ab7;
$blue-light: #588ab6;
$blue-dark: #186bb4;
$gray-light: #777;
$gray: #555;
$gray-darker: #222;
$green-light: rgba(18, 206, 162, 0.73);
$red-light: #d91e1e;
$red-strong: #ff0000;
$black: #000;
$pending-color: #17a2b8;
$ready-color: #007bff;
$borrowed-color: #28a745;
$rejected-color: #6c757d;
$cancelled-color: #dc3545;
$returned-color: #008000;
